body {
    margin:0;
    font-family:'Vend Sans';
    background-image:url("images/dynamic-style.webp");
    background-size:cover;
}

.logo-MI{
    color:#8DC728;
    font-size:50px;
    font-weight:bold;
    margin:0;
}

.logo-MI .logo-HEALTH{
    color:#CE2020;
}

.logo {
    margin:0px 60px;
}

nav {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:white;
}

.nav-options{
    width:30%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-right:0px 60px;
}

.main-content{
    width:30%;
    display:flex;
    flex-direction:column;
    margin:60px;
}

.main-content p {
    font-size:large;
}

.main-content h1 {
    margin-top:0px;
    margin-bottom:0px;
    font-size:70px;
}

.main-content h3 {
    font-weight:bold;
}