body {
  margin: 0;
  font-family: "Vend Sans";
  background-image: url("images/dynamic-style.webp");
  background-size: cover;
}

.logo-MI {
  color: #8dc728;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.logo-MI .logo-HEALTH {
  color: #ce2020;
}

.logo {
  margin: 0px 60px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.nav-options {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 0px 60px;
}

main {
  display: flex;
  margin: 30px;
}

.main-content {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.main-content p {
  font-size: large;
}

.main-content h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 70px;
}

.main-content h3 {
  font-weight: bold;
}

.media {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.media figure {
  display: flex;
  flex-direction: column;
}

.media figure img {
  height: 450px;
  width: 350px;
}

.media figure figcaption {
  text-align: center;
  font-weight: bold;
}

.flavor-text {
  height: 40px;
  width: 80px;
  margin-top: -80px;
  align-self: flex-end;
  background-color: white;
}

.description {
  height: 40px;
  width: 100px;
  align-self: flex-end;
  background-color: #8dc728;
}
